snippet html
 <!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>$1</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="$2">
<style>
	$3
</style>
<script src=""></script>
<body>
$0
</body>
</html>
endsnippet
