snippet pprint "I want something pretty printed"
# PPRINT START
from pprint import pprint
pprint($0)
# PPRINT END
endsnippet
snippet main "What to do when run as main"
def main(args: list[str]):
	${0:...}

if __name__ == "__main__":
	${1:from sys import argv
	main(argv)}
endsnippet

snippet repl "Insert a Read-Eval-Print-Loop"
# REPL START
from code import interact
interact(local=locals())
# REPL END
endsnippet
